@charset "UTF-8";

*{
	padding:0;
	margin:0 !important;
	box-sizing:border-box;	
}
body{
	padding:80px;
	background-color:#d7ffff;
}
section{
	padding: 120px 80px;
	background-color:white;	
	border-radius:48px;	
}
h1{
	font-weight:700;
}